<!DOCTYPE html>
<html lang="Es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><form action="" method="post">
  {%csrf_token%}
  <ul>
    <li>
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" />
    </li>
    <li>
      <label for="password">clave:</label>
      <input type="password" id="password" name="password" />
    </li>
    <li class="button">
  <button type="submit">Envíe su mensaje</button>
</li>
  </ul>
</form>
    
</body>
</html>